# Build & Distribution outputs
node_modules/
dist/
dist-electron/
out/
.vite/

# Local Environment Secrets & Overrides
.env
.env.*
!.env.example
*.local
.env.local
.env.*.local
ROADMAP.md

# IDE configurations
.vscode/
